.profile-banner {
    min-height: 300px;
    background: url(assets/images/banner/1.jpg) no-repeat center/cover;
}

.teacher-profile-content {
    .teacher-profile {
        margin-top: -15rem;
        img {
            width: 278px;
        }
        h3,
        h5 {
            color: white;
        }
        h5 {
            font-weight: 400;
        }
    }
}