 {% include 'include/header.html'%}
 {%load static %}
<!--####################################
                      Start banner section
      ###########################################-->
<section class="banner-v2" style="background-image: url({%static 'assets/images/banners/4.jpg'%});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h1 class="text-white font-weight-600">About Us</h1>
                    <p class="fst-italic text-white font-weight-600">Beyond operating the world's leading Trading
                        exchange,
                        Red Crude spans an entire ecosystem.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--####################################
                      Start banner section
      ###########################################-->
<!--##################################
        start about section
  ##############################-->

<section class="chart-bg-img">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="cover-about-content">
                    <h6 class="subtitle">ABOUT REDCRUDE</h6>
                    <div class="hb-line"></div>
                    <h2 class="block-title font-weight-700">One of The Best Coin Exchange Platform
                        Company In the
                        World</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non elit
                        velit. Sed sagittis
                        massa quis aliquam rutrum. Morbi condimentum condimentum dui id rutrum. Praesent suscipit at
                        nibh sed fringilla. Sed sagittis massa quis aliquam rutrum. Morbi condimentum condimentum
                        dui id rutrum. Praesent suscipit at nibh sed fringilla.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non elit
                        velit. Sed sagittis
                        massa quis aliquam rutrum. Morbi condimentum condimentum dui id rutrum. Praesent suscipit at
                        nibh sed fringilla. Sed sagittis massa quis aliquam rutrum. Morbi condimentum condimentum
                        dui id rutrum. Praesent suscipit at nibh sed fringilla.</p>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="cover-img">
                    <img src="{%static 'assets/images/laptop.svg'%}" alt="image here">
                </div>
            </div>
        </div>
    </div>
</section>

<!--##################################
        end about section
  ##############################-->


<!--##################################
        start code honor section
  ##############################-->
<section>
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">Our code of honor</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>
            <p>To live up to that mission, we’ve made three principles that
                all our teams swear by:</p>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 ">
                <div class="card cover-features-box align-items-center title-effect ">
                    <img src="{%static 'assets/images/icons/1.svg'%}" alt="image here">
                    <h5>Our Users
                        are our investors</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been
                        the industry's standard dummy text ever since the 1500s,</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <div class="card cover-features-box align-items-center title-effect">
                    <img src="{%static 'assets/images/icons/2.svg'%}" alt="image here">
                    <h5>We don't create charts,
                        we create freedom</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been
                        the industry's standard dummy text ever since the 1500s,</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <div class="card cover-features-box align-items-center title-effect">
                    <img src="{%static 'assets/images/icons/3.svg'%}" alt="image here">
                    <h5>Finance
                        should
                        be social</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been
                        the industry's standard dummy text ever since the 1500s,</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!--##################################
        end code honor section
  ##############################-->

<!--##################################
         Start demo section
  ##############################-->
<section class="forground-color">
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-50 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600 text-white">What's TradingView?</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>
            <p class="text-white font-weight-300">We're a charting platform and social network used by 30M+ traders and
                investors
                worldwide to spot opportunities across global markets.</p>

        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-6 col-md-6 col-lg-4">
                <div class="counter-v1 text-center px-3 py-4 title-effect">
                    <img src="{%static 'assets/images/icons/flags.svg'%}" alt="icons flag"
                        class="d-block mx-auto mb-3 image-primary-filter">
                    <div class="d-inline-flex align-items-center gap-1">
                        <h3>50</h3>
                        <span class="darkmode-invert-color">+</span>
                    </div>
                    <p>Nationalities</p>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4">
                <div class="counter-v1 text-center px-3 py-4 title-effect">
                    <img src="{%static 'assets/images/icons/employee.svg'%}" alt="icons flag"
                        class="d-block mx-auto mb-3 image-primary-filter">
                    <div class="d-inline-flex align-items-center gap-1">
                        <h3>2000</h3>
                        <span class="darkmode-invert-color">+</span>
                    </div>
                    <p>Employees</p>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4">
                <div class="counter-v1 text-center px-3 py-4 title-effect">
                    <img src="{%static 'assets/images/icons/office-building.svg'%}" alt="icons flag"
                        class="d-block mx-auto mb-3 image-primary-filter">
                    <div class="d-inline-flex align-items-center gap-1">
                        <h3>20</h3>
                        <span class="darkmode-invert-color">+</span>
                    </div>
                    <p>Locations</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <img src="{%static 'assets/images/chart.jpg'%}" alt="image here" class="border-radius-30px">
    </div>
</section>

<!--##################################
          end demo Section
  ##############################-->
  <!--##################################
          start Our Top Expert Trainers Section
  ##############################-->
<section class="chart-bg-img">
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">Our Top Expert Trainers</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
        <div class="cover-expert-slider position-relative">
            <div class="swiper mySwiper mt-5">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div
                            class="card cover-trainers-card text-center">
                            <div class="cover-img mb-3">
                                <img src="{%static 'assets/images/trainers/1.jpg'%}" alt="trainers img">
                            </div>
                            <h5>Devon Lane</h5>
                            <small>Candles Visualaization</small>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn extra-btn-padding-25">Contact Me</a></li>
                            </ul>
                            <div class="rating-v1">
                                <i class="material-icons">
                                    star
                                </i>4.9 <span class="text-muted">(188)</span>
                            </div>
                            <div class="followers-boxs d-flex align-items-cener justify-content-center mt-4">
                                <div class="box text-center flex-fill">
                                    <h5>3213</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Students</h6>
                                </div>
                                <div class="box text-center flex-fill">
                                    <h5>1.3M</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Followers</h6>
                                </div>
                                <div class="box text-center flex-fill">
                                    <h5>50+</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Indicators</h6>
                                </div>
                            </div>
                            <div class="border-top-2px mt-3 pt-3 width-70 mx-auto">
                                <ul class="d-flex align-items-center justify-content-center gap-3">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-telegram"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card cover-trainers-card text-center">
                            <div class="cover-img mb-3" s>
                                <img src="{%static 'assets/images/trainers/1.jpg'%}" alt="trainers img">
                            </div>
                            <h5>Devon Lane</h5>
                            <small>Candles Visualaization</small>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn extra-btn-padding-25">Contact Me</a></li>
                            </ul>
                            <div class="rating-v1">
                                <i class="material-icons">
                                    star
                                </i>4.9 <span class="text-muted">(188)</span>
                            </div>
                            <div class="followers-boxs d-flex align-items-cener justify-content-center mt-4">
                                <div class="box text-center flex-fill">
                                    <h5>3213</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Students</h6>
                                </div>
                                <div class="box text-center flex-fill">
                                    <h5>1.3M</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Followers</h6>
                                </div>
                                <div class="box text-center flex-fill">
                                    <h5>50+</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Indicators</h6>
                                </div>
                            </div>
                            <div class="border-top-2px mt-3 pt-3 width-70 mx-auto">
                                <ul class="d-flex align-items-center justify-content-center gap-3">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-telegram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card cover-trainers-card text-center">
                            <div class="cover-img mb-3" s>
                                <img src="{%static 'assets/images/trainers/1.jpg'%}" alt="trainers img">
                            </div>
                            <h5>Devon Lane</h5>
                            <small>Candles Visualaization</small>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn extra-btn-padding-25">Contact Me</a></li>
                            </ul>
                            <div class="rating-v1">
                                <i class="material-icons">
                                    star
                                </i>4.9 <span class="text-muted">(188)</span>
                            </div>
                            <div class="followers-boxs d-flex align-items-cener justify-content-center mt-4">
                                <div class="box text-center flex-fill">
                                    <h5>3213</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Students</h6>
                                </div>
                                <div class="box text-center flex-fill">
                                    <h5>1.3M</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Followers</h6>
                                </div>
                                <div class="box text-center flex-fill">
                                    <h5>50+</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Indicators</h6>
                                </div>
                            </div>
                            <div class="border-top-2px mt-3 pt-3 width-70 mx-auto">
                                <ul class="d-flex align-items-center justify-content-center gap-3">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-telegram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card cover-trainers-card text-center">
                            <div class="cover-img mb-3" s>
                                <img src="{%static 'assets/images/trainers/1.jpg'%}" alt="trainers img">
                            </div>
                            <h5>Devon Lane</h5>
                            <small>Candles Visualaization</small>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn extra-btn-padding-25">Contact Me</a></li>
                            </ul>
                            <div class="rating-v1">
                                <i class="material-icons">
                                    star
                                </i>4.9 <span class="text-muted">(188)</span>
                            </div>
                            <div class="followers-boxs d-flex align-items-cener justify-content-center mt-4">
                                <div class="box text-center flex-fill">
                                    <h5>3213</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Students</h6>
                                </div>
                                <div class="box text-center flex-fill">
                                    <h5>1.3M</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Followers</h6>
                                </div>
                                <div class="box text-center flex-fill">
                                    <h5>50+</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Indicators</h6>
                                </div>
                            </div>
                            <div class="border-top-2px mt-3 pt-3 width-70 mx-auto">
                                <ul class="d-flex align-items-center justify-content-center gap-3">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-telegram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card cover-trainers-card text-center">
                            <div class="cover-img mb-3" s>
                                <img src="{%static 'assets/images/trainers/1.jpg'%}" alt="trainers img">
                            </div>
                            <h5>Devon Lane</h5>
                            <small>Candles Visualaization</small>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn extra-btn-padding-25">Contact Me</a></li>
                            </ul>
                            <div class="rating-v1">
                                <i class="material-icons">
                                    star
                                </i>4.9 <span class="text-muted">(188)</span>
                            </div>
                            <div class="followers-boxs d-flex align-items-cener justify-content-center mt-4">
                                <div class="box text-center flex-fill">
                                    <h5>3213</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Students</h6>
                                </div>
                                <div class="box text-center flex-fill">
                                    <h5>1.3M</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Followers</h6>
                                </div>
                                <div class="box text-center flex-fill">
                                    <h5>50+</h5>
                                    <h6 class="m-0 font-weight-300 font-15px">Indicators</h6>
                                </div>
                            </div>
                            <div class="border-top-2px mt-3 pt-3 width-70 mx-auto">
                                <ul class="d-flex align-items-center justify-content-center gap-3">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-telegram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>
    </div>
</section>

<!--##################################
          end Our Top Expert Trainers Section
  ##############################-->

  <!--##################################
          start over mission Section
  ##############################-->

  <section>
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5">
                <div class="cover-img">
                    <img src="{%static 'assets/images/laptop2.svg'%}" alt="image here">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cover-about-content">
                    <h6 class="subtitle">Our Mission & Vision</h6>
                    <div class="hb-line"></div>
                    <h2 class="block-title font-weight-700">One of The Best Trading Platform Company In the World</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non elit
                        velit. Sed sagittis
                        massa quis aliquam rutrum. Morbi condimentum condimentum dui id rutrum. Praesent suscipit at
                        nibh sed fringilla. Sed sagittis massa quis aliquam rutrum. Morbi condimentum condimentum
                        dui id rutrum. Praesent suscipit at nibh sed fringilla.</p>
                  
                </div>
            </div>
            
        </div>
    </div>
</section>
  <!--##################################
          end Our mission Section
  ##############################-->
  <!--##################################
        star get in touch section
  ##############################-->
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="cover-about-content">
                    <h6 class="subtitle">GET IN TOUCH</h6>
                    <div class="hb-line"></div>
                    <h2 class="block-title font-weight-700">More Than a Exchange Platform
                        Buying & Selling Your Shares.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non elit
                        velit. Sed sagittis
                        massa quis aliquam rutrum. Morbi condimentum condimentum dui id rutrum. Praesent suscipit at
                        nibh sed fringilla. Sed sagittis massa quis aliquam rutrum. Morbi condimentum condimentum
                        dui id rutrum. Praesent suscipit at nibh sed fringilla.</p>
                    <ul
                        class="d-flex align-items-center flex-wrap flex-md-nowrap justify-content-center justify-content-md-start gap-3">
                        <li><a href="javascript:void(0)" class="primary-btn right-icon text-uppercase">GET IN TOUCH </a></li>
                        <li><a href="javascript:void(0)" class="primary-outline-btn right-icon text-uppercase">redcrude BLOGS </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cover-earth">
                    <img src="{%static 'assets/images/earth-layer1.svg'%}" alt="image here">
                    <img src="{%static 'assets/images/earth-layer2.svg'%}" alt="image here">
                    <div class="earth">
                        <img src="{%static 'assets/images/earth.svg'%}" alt="image here">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--##################################
        end get in touch section
  ##############################-->
{%include 'include/footer.html'%}

<script>
    var swiper = new Swiper(".mySwiper", {
    autoHeight: true,
    slidesPerView: 1,
    spaceBetween: 20,
    speed: 1500,
    autoplay: {
        delay: 5000,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    pagination: {
        el: ".swiper-pagination",
    },
    breakpoints: {
        640: {
            slidesPerView: 2,

        },
        768: {
            slidesPerView: 2,

        },
        1024: {
            slidesPerView: 4,

        },
    }
});
</script>
