{%include 'include/white-header.html'%}
{%load static%}
<!--####################################
                      Start banner section
      ###########################################-->
<section class="chart-bg-img primary-bg-clr-01">
    <div class="container">
        <div class="row my-0 my-md-5">
            <div class="col-md-8">
                <h2 class="font-weight-500" id="login3"><span class="primary-text h1 font-weight-600">RedCrude </span> Blogs Feed
                </h2>
                <br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
        </div>
    </div>
</section>
<!--####################################
                      end banner section
      ###########################################-->
<!-- Nav tabs -->
<div class="tabs-style-1">
    <div class="bg-black py-3">
        <div class="container">
            <ul class="nav nav-pills tabs-links" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Blogs</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">News</button>
                </li>
            </ul>
        </div>
    </div>

    <!-- Tab panes -->
    <section class="">
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="cover-swiper-slider cover-blog-slider position-relative">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper p-0">
                                <div class="swiper-slide">
                                    <div class="blog-grid-v4 border-0">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                                <div class="cover-img border-radius-10px overflow-hidden">
                                                    <img src="{%static 'assets/images/blog/1.jpg'%}" alt="image here">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="cover-content">
                                                    <ul>
                                                        <li><a href="blog-details.php">
                                                                <h3 class="dark-anchor ">New features for live streamers
                                                                </h3>
                                                            </a></li>
                                                    </ul>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                        industry.
                                                        Lorem Ipsum has been the industry's standard dummy text ever
                                                        since
                                                        the
                                                        1500s, when an unknown printer took a galley of type and
                                                        scrambled
                                                        it to
                                                        make a type specimen book. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="swiper-slide">
                                    <div class="blog-grid-v4 border-0">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                                <div class="cover-img border-radius-10px overflow-hidden">
                                                    <img src="{%static 'assets/images/blog/1.jpg'%}" alt="image here">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="cover-content">
                                                    <ul>
                                                        <li><a href="blog-details.php">
                                                                <h3 class="dark-anchor ">New features for live streamers
                                                                </h3>
                                                            </a></li>
                                                    </ul>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                        industry.
                                                        Lorem Ipsum has been the industry's standard dummy text ever
                                                        since
                                                        the
                                                        1500s, when an unknown printer took a galley of type and
                                                        scrambled
                                                        it to
                                                        make a type specimen book. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="blog-grid">
                        <div class="row g-4">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="blog-grid-v4">
                                        <div class="cover-img">
                                            <img src="{%static 'assets/images/blog/2.jpg'%}" alt="image here">
                                        </div>
                                        <div
                                            class="blog-user d-flex align-items-center justify-content-between pt-3 px-4">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="m-0 primary-text text-uppercase">Charting</h6>
                                            </div>
                                            <p>Dec 5, 2021</p>
                                        </div>
                                        <div class="py-3 px-4">
                                            <h3 class="entry-title">TSLA Symmertrical Traingle Break
                                                Weekly Options Play</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem
                                                Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                when
                                                an
                                                unknown printer took a galley </p>
                                        </div>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="blog-grid-v4">
                                        <div class="cover-img">
                                            <img src="{%static 'assets/images/blog/6.jpg'%}" alt="image here">
                                        </div>
                                        <div
                                            class="blog-user d-flex align-items-center justify-content-between pt-3 px-4">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="m-0 primary-text text-uppercase">Charting</h6>
                                            </div>
                                            <p>Dec 5, 2021</p>
                                        </div>
                                        <div class="py-3 px-4">
                                            <h3 class="entry-title">TSLA Symmertrical Traingle Break
                                                Weekly Options Play</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem
                                                Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                when
                                                an
                                                unknown printer took a galley </p>
                                        </div>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="blog-grid-v4">
                                        <div class="cover-img">
                                            <img src="{%static 'assets/images/blog/7.jpg'%}" alt="image here">
                                        </div>
                                        <div
                                            class="blog-user d-flex align-items-center justify-content-between pt-3 px-4">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="m-0 primary-text text-uppercase">Charting</h6>
                                            </div>
                                            <p>Dec 5, 2021</p>
                                        </div>
                                        <div class="py-3 px-4">
                                            <h3 class="entry-title">TSLA Symmertrical Traingle Break
                                                Weekly Options Play</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem
                                                Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                when
                                                an
                                                unknown printer took a galley </p>
                                        </div>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="blog-grid-v4">
                                        <div class="cover-img">
                                            <img src="{%static 'assets/images/blog/8.jpg'%}" alt="image here">
                                        </div>
                                        <div
                                            class="blog-user d-flex align-items-center justify-content-between pt-3 px-4">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="m-0 primary-text text-uppercase">Charting</h6>
                                            </div>
                                            <p>Dec 5, 2021</p>
                                        </div>
                                        <div class="py-3 px-4">
                                            <h3 class="entry-title">TSLA Symmertrical Traingle Break
                                                Weekly Options Play</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem
                                                Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                when
                                                an
                                                unknown printer took a galley </p>
                                        </div>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-anchor d-inline-flex align-items-center" id="loadblogs">Load More Blogs
                                        <i class="material-icons">
                                            chevron_right
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="cover-swiper-slider position-relative">
                        <div class="swiper mySwiper2">
                            <div class="swiper-wrapper p-0">
                                <div class="swiper-slide">
                                    <div class="blog-grid-v4 border-0">
                                        <div class="cover-img border-radius-10px overflow-hidden">
                                            <img src="{%static 'assets/images/blog/1.jpg'%}" alt="image here">
                                            <div
                                                class="overlay-blog p-3 dark-bg-clr-07 position-absolute bottom-0 start-0 width-100">
                                                <small class="text-white m-0">Lorem Ipsum is simply dummy text of the
                                                    printing
                                                    and typesetting industry. Lorem </small>
                                            </div>
                                        </div>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="blog-grid-v4 border-0">
                                        <div class="cover-img border-radius-10px overflow-hidden">
                                            <img src="{%static 'assets/images/blog/1.jpg'%}" alt="image here">
                                            <div
                                                class="overlay-blog p-3 dark-bg-clr-07 position-absolute bottom-0 start-0 width-100">
                                                <small class="text-white m-0">Lorem Ipsum is simply dummy text of the
                                                    printing
                                                    and typesetting industry. Lorem </small>
                                            </div>
                                        </div>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="blog-grid-v4 border-0">
                                        <div class="cover-img border-radius-10px overflow-hidden">
                                            <img src="{%static 'assets/images/blog/1.jpg'%}" alt="image here">
                                            <div
                                                class="overlay-blog p-3 dark-bg-clr-07 position-absolute bottom-0 start-0 width-100">
                                                <small class="text-white m-0">Lorem Ipsum is simply dummy text of the
                                                    printing
                                                    and typesetting industry. Lorem </small>
                                            </div>
                                        </div>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="blog-grid-v4 border-0">
                                        <div class="cover-img border-radius-10px overflow-hidden">
                                            <img src="{%static 'assets/images/blog/1.jpg'%}" alt="image here">
                                            <div
                                                class="overlay-blog p-3 dark-bg-clr-07 position-absolute bottom-0 start-0 width-100">
                                                <small class="text-white m-0">Lorem Ipsum is simply dummy text of the
                                                    printing
                                                    and typesetting industry. Lorem </small>
                                            </div>
                                        </div>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="blog-grid-v4 border-0">
                                        <div class="cover-img border-radius-10px overflow-hidden">
                                            <img src="{%static 'assets/images/blog/1.jpg'%}" alt="image here">
                                            <div
                                                class="overlay-blog p-3 dark-bg-clr-07 position-absolute bottom-0 start-0 width-100">
                                                <small class="text-white m-0">Lorem Ipsum is simply dummy text of the
                                                    printing
                                                    and typesetting industry. Lorem </small>
                                            </div>
                                        </div>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="row news-grid">
                        <div class="col-md-3">
                            <div class="row gy-3">
                                <div class="col-md-12">
                                    <div class="blog-grid-v4 border-0">
                                        <div class="cover-img mb-3">
                                            <img src="{%static 'assets/images/blog/2.jpg'%}" alt="image here" class="h-auto">
                                        </div>
                                        <h3 class="entry-title">Why Are Crypto-Derivative
                                            Markets Essential?</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text book.</p>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class=" blog-grid-v4 border-0">
                                        <div class="cover-img mb-3">
                                            <img src="{%static 'assets/images/blog/2.jpg'%}" alt="image here" class="h-auto">
                                        </div>
                                        <h3 class="entry-title">Why Are Crypto-Derivative
                                            Markets Essential?</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text book.</p>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class=" blog-grid-v4 border-0">
                                        <div class="cover-img mb-3">
                                            <img src="{%static 'assets/images/blog/2.jpg'%}" alt="image here" class="h-auto">
                                        </div>
                                        <h3 class="entry-title">Why Are Crypto-Derivative
                                            Markets Essential?</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text book.</p>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>

                                <h6 class="mb-2 font-weight-600">MY TURN</h6>
                                <div class="col-md-4">
                                    <div class=" blog-grid-v4 border-0">
                                        <div class="cover-img mb-3">
                                            <img src="{%static 'assets/images/blog/2.jpg'%}" alt="image here" class="h-auto">
                                        </div>

                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text book.</p>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class=" blog-grid-v4 border-0">
                                        <div class="cover-img mb-3">
                                            <img src="{%static 'assets/images/blog/2.jpg'%}" alt="image here" class="h-auto">
                                        </div>

                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text book.</p>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class=" blog-grid-v4 border-0">
                                        <div class="cover-img mb-3">
                                            <img src="{%static 'assets/images/blog/2.jpg'%}" alt="image here" class="h-auto">
                                        </div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text book.</p>
                                        <a href="blog-details.php" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row border-bottom mb-3">
                                <div class="col-md-12">
                                    <div class="image-to-content d-flex align-items-start gap-2 mb-3">
                                        <img src="{%static 'assets/images/testimonial/1.png'%}" alt="image here">
                                        <div class="flex-1">
                                            <h6>The Case For Amy Coney Barret
                                            </h6>
                                            <p class="text-muted">By ROBERT P George</p>
                                        </div>
                                    </div>
                                    <div class="image-to-content d-flex align-items-start gap-2 mb-3">
                                        <div class="flex-1">
                                            <h6>Replacing RBG with a Women loke Barrett Is Beyond Tokenism It’s
                                                anAffront
                                            </h6>
                                            <p class="text-muted">By ROBERT P George</p>
                                        </div>
                                        <img src="{%static 'assets/images/testimonial/1.png'%}" alt="image here">

                                    </div>
                                </div>
                            </div>
                            <h6>OPINION</h6>
                            <ul class="equal-list-items">
                                <li>
                                    <div class="image-to-content d-flex align-items-start gap-2 mt-3">
                                        <img src="{%static 'assets/images/testimonial/1.png'%}" alt="image here">
                                        <div class="flex-1">
                                            <h6>A Post-Election Civil War Is
                                                Unlikely But Trump Nation
                                                Has Already Seceded
                                            </h6>
                                            <p class="text-muted">By ROBERT P George</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-to-content d-flex align-items-start gap-2 mt-3">
                                        <img src="{%static 'assets/images/testimonial/1.png'%}" alt="image here">
                                        <div class="flex-1">
                                            <h6>A Post-Election Civil War Is
                                                Unlikely But Trump Nation
                                                Has Already Seceded
                                            </h6>
                                            <p class="text-muted">By ROBERT P George</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-to-content d-flex align-items-start gap-2 mt-3">
                                        <img src="{%static 'assets/images/testimonial/1.png'%}" alt="image here">
                                        <div class="flex-1">
                                            <h6>A Post-Election Civil War Is
                                                Unlikely But Trump Nation
                                                Has Already Seceded
                                            </h6>
                                            <p class="text-muted">By ROBERT P George</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-to-content d-flex align-items-start gap-2 mt-3">
                                        <img src="{%static 'assets/images/testimonial/1.png'%}" alt="image here">
                                        <div class="flex-1">
                                            <h6>A Post-Election Civil War Is
                                                Unlikely But Trump Nation
                                                Has Already Seceded
                                            </h6>
                                            <p class="text-muted">By ROBERT P George</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-to-content d-flex align-items-start gap-2 mt-3">
                                        <img src="{%static 'assets/images/testimonial/1.png'%}" alt="image here">
                                        <div class="flex-1">
                                            <h6>A Post-Election Civil War Is
                                                Unlikely But Trump Nation
                                                Has Already Seceded
                                            </h6>
                                            <p class="text-muted">By ROBERT P George</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-to-content d-flex align-items-start gap-2 mt-3">
                                        <img src="{%static 'assets/images/testimonial/1.png'%}" alt="image here">
                                        <div class="flex-1">
                                            <h6>A Post-Election Civil War Is
                                                Unlikely But Trump Nation
                                                Has Already Seceded
                                            </h6>
                                            <p class="text-muted">By ROBERT P George</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="blog-grid-v4 load-news border-0">
                        <div class="row g-3 g-md-5 align-items-center">
                            <div class="col-lg-5">
                                <div class="cover-img border-radius-10px overflow-hidden">
                                    <img src="{%static 'assets/images/blog/1.jpg'%}" alt="image here">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="cover-content">
                                    <h4>Gold, Stocks, and Trading : Weekly Overview — September 9</h4>
                                    <p>Quisque dictum quis neque ut commodo. Aliquam lobortis sed diam sit amet
                                        ullamcorper. Morbi in aliquet tellus. Nam ultrices hendrerit massa vel
                                        consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                        per inceptos himenaeos. Mauris quam magna, lacinia quis maximus in, pellentesque
                                        vel leo. Donec cursus ullamcorper sem, ac ornare est convallis nec. In hac
                                        habitasse platea mauris lacus, scelerisque at pretium a, facilisis nec est.</p>
                                    <ul>
                                        <li><a href="blog-details.php" class="primary-btn extra-btn-padding-30">Veiw More</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="blog-grid-v4 load-news border-0">
                        <div class="row g-3 g-md-5 align-items-center">
                            <div class="col-lg-5 order-0 order-md-1">
                                <div class="cover-img border-radius-10px overflow-hidden">
                                    <img src="{%static 'assets/images/blog/1.jpg'%}" alt="image here">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="cover-content">
                                    <h4>Gold, Stocks, and Trading : Weekly Overview — September 9</h4>
                                    <p>Quisque dictum quis neque ut commodo. Aliquam lobortis sed diam sit amet
                                        ullamcorper. Morbi in aliquet tellus. Nam ultrices hendrerit massa vel
                                        consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                        per inceptos himenaeos. Mauris quam magna, lacinia quis maximus in, pellentesque
                                        vel leo. Donec cursus ullamcorper sem, ac ornare est convallis nec. In hac
                                        habitasse platea mauris lacus, scelerisque at pretium a, facilisis nec est.</p>
                                    <ul>
                                        <li><a href="blog-details.php" class="primary-btn extra-btn-padding-30">Veiw More</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="blog-grid-v4 load-news border-0">
                        <div class="row g-3 g-md-5 align-items-center">
                            <div class="col-lg-5">
                                <div class="cover-img border-radius-10px overflow-hidden">
                                    <img src="{%static 'assets/images/blog/1.jpg'%}" alt="image here">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="cover-content">
                                    <h4>Gold, Stocks, and Trading : Weekly Overview — September 9</h4>
                                    <p>Quisque dictum quis neque ut commodo. Aliquam lobortis sed diam sit amet
                                        ullamcorper. Morbi in aliquet tellus. Nam ultrices hendrerit massa vel
                                        consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                        per inceptos himenaeos. Mauris quam magna, lacinia quis maximus in, pellentesque
                                        vel leo. Donec cursus ullamcorper sem, ac ornare est convallis nec. In hac
                                        habitasse platea mauris lacus, scelerisque at pretium a, facilisis nec est.</p>
                                    <ul>
                                        <li><a href="blog-details.php" class="primary-btn extra-btn-padding-30">Veiw More</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-anchor d-inline-flex align-items-center" id="loadnews">Load More News Ideas
                                        <i class="material-icons">
                                            chevron_right
                                        </i></a></li>
                            </ul>
                        </div>

                </div>
            </div>
        </div>
    </section>
</div>



{%include 'include/footer.html'%}

<script>
var swiper = new Swiper(".mySwiper", {
    autoHeight: true,
    slidesPerView: 1,
    spaceBetween: 20,
    speed: 1500,
    autoplay: {
        delay: 5000,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },

});
var swiper2 = new Swiper(".mySwiper2", {
    autoHeight: true,
    slidesPerView: 1,
    spaceBetween: 20,
    speed: 1500,
    autoplay: {
        delay: 5000,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },

    breakpoints: {
        640: {
            slidesPerView: 2,

        },
        768: {
            slidesPerView: 2,

        },
        1024: {
            slidesPerView: 3,

        },
    }

});
$(document).ready(function() {
    $(".blog-grid .blog-grid-v4").slice(0, 2).show();
    $("#loadblogs").on("click", function(e) {
        e.preventDefault();
        $(".blog-grid .blog-grid-v4:hidden").slice(0, 2).fadeIn();
        if ($(".blog-grid .blog-grid-v4:hidden").length == 0) {
            $("#loadblogs").text("No More").addClass("noContent");
            $("#loadblogs").css({
                'cursor': 'not-allowed',
                'opacity' : 0.5,
                'filter' : 'brightness(0)'
            });
        }
    });

    $(".load-news").slice(0, 2).show();
    $("#loadnews").on("click", function(e) {
        e.preventDefault();
        $(".load-news:hidden").slice(0, 2).fadeIn();
        if ($(".load-news:hidden").length == 0) {
            $("#loadnews").text("No More").addClass("noContent");
            $("#loadnews").css({
                'cursor': 'not-allowed',
                'opacity' : 0.5,
                'filter' : 'brightness(0)'
            });
        }
    });


});
</script>