{% include 'include/header.html'%}
{%load static%}


<!--####################################
                      Start privacy policy content
      ###########################################-->
<section class="chart-bg-img">
    <div class="container">
        <div class="cover-section-title width-100 width-md-80 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">Disclaimer</h2>
                <div class="hb-line width-50"></div>
            </div>
            <br>
        <br>
           <h5>No Investment Advice Provided</h5>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ex accusamus natus fugiat illum. Doloribus, nemo cumque, voluptates ipsa minima alias veritatis necessitatibus quasi harum ullam, debitis consectetur. Architecto, voluptatum.</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sit odit explicabo possimus neque magnam perferendis eveniet in alias quidem maxime ducimus sequi, aut amet, recusandae laudantium illum laboriosam cumque cum ipsum atque facere beatae a. Quos dignissimos corporis facere! Repellendus sequi accusamus quam deserunt quaerat recusandae minus odit ullam dolor dolorum tenetur suscipit voluptatum dicta, sapiente qui impedit sint sunt laudantium, est dolorem, nostrum aspernatur magnam ratione. Similique id corporis, cum neque perspiciatis ipsam animi ex sit quos quo, impedit consequuntur, dolorem deserunt tempore iusto nostrum. Impedit corporis animi dolor a, porro numquam pariatur voluptatibus atque. Odit, culpa quia!</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sequi provident, labore dolor minus architecto nostrum quis optio laborum non officia consectetur libero ex quisquam vero quibusdam! Vel possimus necessitatibus maiores porro at modi saepe provident vero optio eius. Culpa, quis debitis? Laboriosam sit, corporis quia dolores consectetur officiis provident.</p>
        </div>
       
            
    </div>
</section>

<!--####################################
                      Start privacy policy content
      ###########################################-->

      {% include 'include/footer.html' %} 