{%include 'include/white-header.html'%}
{%load static%}
<!--####################################
                      Start banner section
      ###########################################-->
<section class="bg-black d-flex align-items-center justify-content-center height-80vh">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="text-center">
                    <h1 class="text-white font-weight-600">RedCrude Solution For Website</h1>
                    <p class="text-white lh-base">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--####################################
                      Start banner section
      ###########################################-->

<!--####################################
                      Start business info section
      ###########################################-->

<div class="container help-section padding-inline-5vw">
    <div class="row g-3 g-md-4 justify-content-center py-4">
        <div class="col-md-6">
            <div class="card info-card-v1 primary-shadow text-end p-4 img-flip-animate">
                <img src="{%static 'assets/images/icons/Schedule.svg'%}" alt="image here" class="ms-auto">
                <h5>Coin Market System</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card info-card-v1 primary-shadow text-end p-4 img-flip-animate">
                <img src="{%static 'assets/images/icons/support.svg'%}" alt="image here" class="ms-auto">
                <h5>Coin Market System</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card info-card-v1 primary-shadow text-end p-4 img-flip-animate">
                <img src="{%static 'assets/images/icons/support.svg'%}" alt="image here" class="ms-auto">
                <h5>Coin Market System</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card info-card-v1 primary-shadow text-end p-4 img-flip-animate">
                <img src="{%static 'assets/images/icons/support.svg'%}" alt="image here" class="ms-auto">
                <h5>Coin Market System</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. </p>
            </div>
        </div>

    </div>
</div>
<!--####################################
                      Start business info section
      ###########################################-->

<!--####################################
                      Start Stock Markets section
      ###########################################-->


<section>
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">Stock Markets</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan quam leo, at porta urna volutpat
                et. Integer molestie, purus eget tincidunt consectetu</p>
        </div>
        <div class="card table-v2 mt-5">
            <div class="table-responsive">
                <table class="table align-middle table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Change</th>
                            <th>Chg%</th>
                            <th>Open</th>
                            <th>High</th>
                            <th>Low</th>
                            <th>Prev</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <div class="stock-name d-flex align-items-center gap-2">
                                    <img src="{%static 'assets/images/icons/apple.svg'%}" alt="image here" class="width-15 border-radius-50px">
                                    MCX/ USDT
                                </div>
                            </td>
                            <td>47,991.13</td>
                            <td class="decrement-text">-32.34</td>
                            <td class="decrement-text">-32.34</td>
                            <td>49,385.42</td>
                            <td>47,610.60</td>
                            <td>902,258.10</td>
                            <td>1,469.92</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="stock-name d-flex align-items-center gap-2">
                                    <img src="{%static 'assets/images/icons/apple.svg'%}" alt="image here" class="width-15 border-radius-50px">
                                    MCX/ USDT
                                </div>
                            </td>
                            <td>47,991.13</td>
                            <td class="decrement-text">-32.34</td>
                            <td class="decrement-text">-32.34</td>
                            <td>49,385.42</td>
                            <td>47,610.60</td>
                            <td>902,258.10</td>
                            <td>1,469.92</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="stock-name d-flex align-items-center gap-2">
                                    <img src="{%static 'assets/images/icons/apple.svg'%}" alt="image here" class="width-15 border-radius-50px">
                                    MCX/ USDT
                                </div>
                            </td>
                            <td>47,991.13</td>
                            <td class="decrement-text">-32.34</td>
                            <td class="decrement-text">-32.34</td>
                            <td>49,385.42</td>
                            <td>47,610.60</td>
                            <td>902,258.10</td>
                            <td>1,469.92</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="stock-name d-flex align-items-center gap-2">
                                    <img src="{%static 'assets/images/icons/apple.svg'%}" alt="image here" class="width-15 border-radius-50px">
                                    MCX/ USDT
                                </div>
                            </td>
                            <td>47,991.13</td>
                            <td class="decrement-text">-32.34</td>
                            <td class="decrement-text">-32.34</td>
                            <td>49,385.42</td>
                            <td>47,610.60</td>
                            <td>902,258.10</td>
                            <td>1,469.92</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="stock-name d-flex align-items-center gap-2">
                                    <img src="{%static 'assets/images/icons/apple.svg'%}" alt="image here" class="width-15 border-radius-50px">
                                    MCX/ USDT
                                </div>
                            </td>
                            <td>47,991.13</td>
                            <td class="decrement-text">-32.34</td>
                            <td class="decrement-text">-32.34</td>
                            <td>49,385.42</td>
                            <td>47,610.60</td>
                            <td>902,258.10</td>
                            <td>1,469.92</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row g-3 g-md-5">
            <div class="col-lg-6">
                <div class="cover-content">
                    <h4 class="block-title">Get Started Now.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor recusandae repellat facilis
                        voluptatum exercitationem, aspernatur voluptate a nulla consectetur cum debitis nobis tempora in
                        optio. Ex, et vel placeat rerum, temporibus voluptatum maiores consequatur veniam nobis
                        consectetur at amet deleniti quidem similique, repudiandae totam harum ut. Consequuntur,
                        dolores? Asperiores minima officia minus dolor accusamus? Odio, voluptas eos adipisci nobis
                        voluptatum et doloribus cumque non nostrum veniam impedit ut amet. </p>
                    <ul>
                        <li><a href="javascript:void(0)" class="primary-btn">Trade Now</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border p-3">
                    <div class="chartv1 position-relative">
                        <div class="position-absolute top-0 start-0">
                            <h5 class="mb-3">MCX/ USDT Chart</h5>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn extra-btn-padding-25">Trade Now</a></li>
                            </ul>
                        </div>
                        <img src="{%static 'assets/images/chart.svg'%}" alt="image here">
                        <ul class="d-flex align-itesm-center justify-content-between">
                            <li>Jan</li>
                            <li>Feb</li>
                            <li>Mar</li>
                            <li>Apr</li>
                            <li>May</li>
                            <li>Jun</li>
                            <li>Jul</li>
                            <li>Aug</li>
                            <li>Sept</li>
                            <li>Oct</li>
                            <li>Nov</li>
                            <li>Dec</li>
                        </ul>
                        <ul class="d-flex align-itesm-center gap-2 gap-md-4 my-3">
                            <li>
                                <div class="checktext">
                                    <input type="radio" name="daycheck" id="daycheck" checked="">
                                    <label for="daycheck">1D</label>
                                </div>
                            </li>
                            <li>
                                <div class="checktext">
                                    <input type="radio" name="daycheck" id="daycheck">
                                    <label for="daycheck">1W</label>
                                </div>
                            </li>
                            <li>
                                <div class="checktext">
                                    <input type="radio" name="daycheck" id="daycheck">
                                    <label for="daycheck">1M</label>
                                </div>
                            </li>
                            <li>
                                <div class="checktext">
                                    <input type="radio" name="daycheck" id="daycheck">
                                    <label for="daycheck">3M</label>
                                </div>
                            </li>
                            <li>
                                <div class="checktext">
                                    <input type="radio" name="daycheck" id="daycheck">
                                    <label for="daycheck">1Y</label>
                                </div>
                            </li>
                            <li>
                                <div class="checktext">
                                    <input type="radio" name="daycheck" id="daycheck">
                                    <label for="daycheck">3Y</label>
                                </div>
                            </li>
                            <li>
                                <div class="checktext">
                                    <input type="radio" name="daycheck" id="daycheck">
                                    <label for="daycheck">5Y</label>
                                </div>
                            </li>
                            <li>
                                <div class="checktext">
                                    <input type="radio" name="daycheck" id="daycheck">
                                    <label for="daycheck">ALl</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="table-v1">
                        <div class="table-responsive">
                            <table class="table align-middle table-hover">
                                <thead>
                                    <tr>
                                        <th>Stock Name</th>
                                        <th>Commodities</th>
                                        <th>Volume(BUSD)</th>
                                        <th>Change</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>MCX/ USDT</td>
                                        <td>Crude Palm Oil</td>
                                        <td>48,7213.64</td>
                                        <td>
                                            <p class="increment-text">+3.57%</p>
                                            <p class="increment-text">+478.45</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>MCX/ USDT</td>
                                        <td>Crude Palm Oil</td>
                                        <td>48,7213.64</td>
                                        <td>
                                            <p class="increment-text">+3.57%</p>
                                            <p class="increment-text">+478.45</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>MCX/ USDT</td>
                                        <td>Crude Palm Oil</td>
                                        <td>48,7213.64</td>
                                        <td>
                                            <p class="increment-text">+3.57%</p>
                                            <p class="decrement-text">-478.45</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>MCX/ USDT</td>
                                        <td>Crude Palm Oil</td>
                                        <td>48,7213.64</td>
                                        <td>
                                            <p class="increment-text">+3.57%</p>
                                            <p class="increment-text">+478.45</p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--####################################
                      Start Stock Markets section
      ###########################################-->

<!--####################################
                      Start Promoting  section
      ###########################################-->
<section>
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">Here’s What Makes Promoting us Easy</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan quam leo, at porta urna volutpat
                et. Integer molestie, purus eget tincidunt consectetu</p>
        </div>
        <br>
        <br>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card info-card-v3 aling-items-start flex-md-row gap-3 p-4 img-flip-animate">
                    <img src="{%static 'assets/images/icons/trust-RedCrude.svg'%}" alt="image here" class="mx-auto">
                    <div>
                        <h6 class="entry-title">People trust RedCrude</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card info-card-v3 aling-items-start flex-md-row gap-3 p-4 img-flip-animate">
                    <img src="{%static 'assets/images/icons/our-mission.svg'%}" alt="image here" class="mx-auto">
                    <div>
                        <h6 class="entry-title">Our Mission</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card info-card-v3 aling-items-start flex-md-row gap-3 p-4 img-flip-animate">
                    <img src="{%static 'assets/images/icons/Trade-together.svg'%}" alt="image here" class="mx-auto">
                    <div>
                        <h6 class="entry-title">Trade together</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card info-card-v3 aling-items-start flex-md-row gap-3 p-4 img-flip-animate">
                    <img src="{%static 'assets/images/icons/trust-RedCrude.svg'%}" alt="image here" class="mx-auto">
                    <div>
                        <h6 class="entry-title">The best charts</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--####################################
                      end Promoting  section
      ###########################################-->
<!--####################################
                      start how its work  section
      ###########################################-->
<section class="primary-bg-clr-01">
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">How It Works</h2>
                <div class="hb-line width-50 mx-auto"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan quam leo, at porta urna
                    volutpat et. Integer molestie, purus eget tincidunt consectetur</p>
            </div>

        </div>
        <br>
        <img src="{%static 'assets/images/icons/road-map.svg'%}" alt="image here">
    </div>
</section>
<!--####################################
                      end  how its work  section
      ###########################################-->
<!--##################################
        start faq section
  ##############################-->

<section class="chart-bg-img">
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">Chat Bot (FAQ’s)</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>

        </div>
        <div class="according-style-2 mt-3 mt-md-5">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-1" aria-expanded="true" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore cupiditate
                                dolore, totam nobis cumque modi expedita accusamus saepe
                                facilis adipisci non quaerat? Quae aut qui inventore maxime, quas consequuntur rerum
                                molestias aperiam quaerat exercitationem perspiciatis et quis, adipisci repellat
                                veniam nulla! Error blanditiis minima quos laboriosam.
                                Nostrum excepturi molestiae repellat corporis, hic iusto distinctio exercitationem
                                asperiores culpa sed? Sapiente ipsum beatae minus earum hic, nulla nobis. Quo ex
                                dolorum est, odit officiis eos mollitia, consectetur
                                possimus corrupti dolor voluptate nulla blanditiis voluptatum, accusantium
                                aspernatur distinctio laboriosam magnam enim sapiente. Laudantium.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-2" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-2" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore cupiditate
                                dolore, totam nobis cumque modi expedita accusamus saepe
                                facilis adipisci non quaerat? Quae aut qui inventore maxime, quas consequuntur rerum
                                molestias aperiam quaerat exercitationem perspiciatis et quis, adipisci repellat
                                veniam nulla! Error blanditiis minima quos laboriosam.
                                Nostrum excepturi molestiae repellat corporis, hic iusto distinctio exercitationem
                                asperiores culpa sed? Sapiente ipsum beatae minus earum hic, nulla nobis. Quo ex
                                dolorum est, odit officiis eos mollitia, consectetur
                                possimus corrupti dolor voluptate nulla blanditiis voluptatum, accusantium
                                aspernatur distinctio laboriosam magnam enim sapiente. Laudantium.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-3" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-3" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-4" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-4" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-5" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-5" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-6" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-6" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-7" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-7" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-8" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-8" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--##################################
        end fa1 section
  ##############################-->
<!--##################################
        start hightlight section
  ##############################-->
<section class="banner-v1" style="background-image: url({%static 'assets/images/banners/2.jpg'%})">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="text-white">Start Trading Now with RedCrude</h2>
                <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <ul class="d-flex align-items-center flex-wrap flex-md-nowrap justify-content-center gap-3">
                    <li><a href="javascript:void(0)" class="primary-btn right-icon text-uppercase">REGISTER NOW </a></li>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--##################################
        end highlight section
  ##############################-->




{% include 'include/footer.html'%}