{% include 'include/header.html'%}
{%load static%}
<!--####################################
                      Start banner section
      ###########################################-->
<section class="bg-black height-50vh">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h1 class="text-white font-weight-600">Help Center</h1>
                    <p class="text-white">How can we help you today?</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--####################################
                      Start banner section
      ###########################################-->


<!--####################################
                      Start help section
      ###########################################-->
<div class="container help-section">
    <div class="row g-3 g-md-5 justify-content-center py-4">
        <div class="col-md-3">
            <div class="card info-card-v1 primary-shadow text-center p-5 img-flip-animate">
                <img src="{%static 'assets/images/icons/Schedule.svg'%}" alt="image here" class="mx-auto">
                <h5>Schedule a demo</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card info-card-v1 primary-shadow text-center p-5 img-flip-animate">
                <img src="{%static 'assets/images/icons/support.svg'%}" alt="image here" class="mx-auto">
                <h5>Get Support</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card info-card-v1 primary-shadow text-center p-5 img-flip-animate">
                <img src="{%static 'assets/images/icons/blog.svg'%}" alt="image here" class="mx-auto">
                <h5>Read the blog</h5>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">Need Help?</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan quam leo, at porta urna volutpat
                et. Integer molestie, purus eget tincidunt consectetur, mi ipsum eleifend tellus, at dictum mi eros non
                mi.</p>
        </div>
        <br>
        <br>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="card info-card-v2 text-center p-5 img-flip-animate">
                    <img src="{%static 'assets/images/icons/Getting-Started.svg'%}" alt="image here">
                    <h5>Getting Started</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card info-card-v2 text-center p-5 img-flip-animate">
                    <img src="{%static 'assets/images/icons/Shortwave.svg'%}" alt="image here">
                    <h5>Using Shortwave</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card info-card-v2 text-center p-5 img-flip-animate">
                    <img src="{%static 'assets/images/icons/Prefrences.svg'%}" alt="image here">
                    <h5>Setting & Prefrences</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card info-card-v2 text-center p-5 img-flip-animate">
                    <img src="{%static 'assets/images/icons/Billing.svg'%}" alt="image here">
                    <h5>Terms & Billing</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card info-card-v2 text-center p-5 img-flip-animate">
                    <img src="{%static 'assets/images/icons/Integerations.svg'%}" alt="image here">
                    <h5>Integerations</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card info-card-v2 text-center p-5 img-flip-animate">
                    <img src="{%static 'assets/images/icons/Troubleshooting.svg'%}" alt="image here">
                    <h5>Troubleshooting</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--####################################
                      end help section
      ###########################################-->

<section class="pt-0">
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">Popular Question</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>
        </div>
        <br>
        <br>
        <div class="according-style-3">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-3-1" aria-expanded="true" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-3-1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus
                                exercitationem pariatur accusantium molestias eaque dolore nam et, maiores iure
                                quidem consequuntur nesciunt eos expedita perferendis perspiciatis distinctio,
                                doloribus consequatur cupiditate ipsa dicta temporibus, libero natus. Sequi
                                voluptate, deserunt, dolore eligendi labore quasi doloremque asperiores,
                                inventore impedit fugiat corrupti! Sed beatae dignissimos ullam ad, culpa
                                nesciunt sint perspiciatis. Fugiat cupiditate velit quam id! Impedit placeat
                                illo assumenda numquam nemo voluptate velit error vero doloribus eum tenetur
                                praesentium magnam molestiae, nostrum similique magni distinctio iure veniam
                                commodi aliquid atque asperiores necessitatibus? Nam vitae laborum officiis
                                ipsam doloribus ut perferendis, repellendus similique laboriosam!</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-3-2" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-3-2" class="accordion-collapse collapse " aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus
                                exercitationem pariatur accusantium molestias eaque dolore nam et, maiores iure
                                quidem consequuntur nesciunt eos expedita perferendis perspiciatis distinctio,
                                doloribus consequatur cupiditate ipsa dicta temporibus, libero natus. Sequi
                                voluptate, deserunt, dolore eligendi labore quasi doloremque asperiores,
                                inventore impedit fugiat corrupti! Sed beatae dignissimos ullam ad, culpa
                                nesciunt sint perspiciatis. Fugiat cupiditate velit quam id! Impedit placeat
                                illo assumenda numquam nemo voluptate velit error vero doloribus eum tenetur
                                praesentium magnam molestiae, nostrum similique magni distinctio iure veniam
                                commodi aliquid atque asperiores necessitatibus? Nam vitae laborum officiis
                                ipsam doloribus ut perferendis, repellendus similique laboriosam!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--####################################
                      start contact section
      ###########################################-->
<section class="pt-0">
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">You still have a question?</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>
            <p>IF you cannot find answer to your question in our help center, you can
                always contact us. We will answer to you shortly!</p>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="cover-contact2">
                    <h2 class="primary-text">CONTACT US</h2>
                    <h6>Our team will reply to all inquiries within 24 hours.</h6>
                    <div class="cover-form2 mt-4">
                        <form action="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <label>Full Name</label>
                                        <input type="text" name="fullname" placeholder="Enter your name"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label>Email</label>
                                        <input type="email" name="email" placeholder="Enter your email address"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label>Phone</label>
                                        <input type="phone" name="phone" placeholder="Enter your number"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-5">
                                        <label>Message</label>
                                        <textarea name="message" rows="5" class="form-control"
                                            placeholder="Enter your message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="primary-btn">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cover-img">
                    <img src="{%static 'assets/images/contact.png'%}" alt="image here">
                </div>
            </div>
        </div>
    </div>
</section>
<!--####################################
                      end contact section
      ###########################################-->
      {% include 'include/footer.html' %} 