{%include 'include/white-header.html'%}
{%load static%}
<!--####################################
                      Start pricing content section
      ###########################################-->
<section class="d-flex align-items-center justify-content-center height-60vh">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="text-center">
                    <h1 class="font-weight-600" style="letter-spacing: 2px;">Get Started Now</h1>
                    <p class="font-20px">Learn To Trade From Professional Traders</p>

                </div>
            </div>

            <div class="col-md-12 text-center mt-5">
                <div class="w-100 mb-4 pb-2 position-relative">
                    <p class="d-inline-block py-3 px-4 border-radius-50px primary-bg-clr-02 primary-text m-0 lh-1 font-19px"
                        style="letter-spacing: 1px;">
                        Annually you have 20% Off
                        <img src="{%static 'assets/images/started.svg'%}" alt="image here" class="started-arrow">
                    </p>

                </div>
                <div class="tabs-style-3 mt-0">
                    <ul class="nav nav-tabs" id="buy/sell" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="Monthly-tab" data-bs-toggle="tab"
                                data-bs-target="#Monthly" type="button" role="tab" aria-controls="Monthly"
                                aria-selected="true">Monthly</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="Yearly-tab" data-bs-toggle="tab" data-bs-target="#Yearly"
                                type="button" role="tab" aria-controls="Yearly" aria-selected="false">Yearly</button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="pt-5">
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="Monthly" role="tabpanel" aria-labelledby="Monthly-tab">
                <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
                    <div class="d-inline-block">
                        <h2 class="section-title font-weight-600">Our Pricing</h2>
                        <div class="hb-line width-50 mx-auto"></div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
                <br>
                <br>
                <div class="row g-0 align-items-center justify-content-center pricing-card">
                    <div class="col-md-4">
                        <div class="card info-card-v4 text-center">
                            <h3 class="mb-4">PRO</h3>
                            <h1 class="primary-text font-weight-600 mb-4">$30.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-card-v4 text-center pro-pricing">
                            <h3 class="mb-4">PRO</h3>
                            <h1 class="font-weight-600 mb-4">$30.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card info-card-v4 text-center">
                            <h3 class="mb-4">PREMIUM</h3>
                            <h1 class="primary-text font-weight-600 mb-4">$30.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Yearly" role="tabpanel" aria-labelledby="Yearly-tab">
                <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
                    <div class="d-inline-block">
                        <h2 class="section-title font-weight-600">Our Pricing</h2>
                        <div class="hb-line width-50 mx-auto"></div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
                <br>
                <br>
                <div class="row g-0 justify-content-center align-items-center pricing-card">
                    <div class="col-md-4">
                        <div class="card info-card-v4 text-center">
                            <h3 class="mb-4">PRO</h3>
                            <h1 class="primary-text font-weight-600 mb-4">$100.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-card-v4 text-center pro-pricing">
                            <h3 class="mb-4">PRO</h3>
                            <h1 class="font-weight-600 mb-4">$200.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card info-card-v4 text-center">
                            <h3 class="mb-4">PREMIUM</h3>
                            <h1 class="primary-text font-weight-600 mb-4">$500.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--####################################
                      Start pricing content section
      ###########################################-->

<!--####################################
                      Start compaire plane section
      ###########################################-->
<section>
    <div class="container">
        <div class="row g-0">
            <div class="col-md-4">
                <h1 class="block-title">Compare plans</h1>
                <div class="hb-line"></div>
            </div>
            <div class="col-md-8 d-none d-md-block">
                <ul class="d-flex align-items-center justify-content-between">
                    <li class="flex-1 text-center font-weight-500">Basic</li>
                    <li class="flex-1 text-center font-weight-500">Pro</li>
                    <li class="flex-1 text-center font-weight-500">Pro+</li>
                    <li class="flex-1 text-center font-weight-500">Premium</li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <div class="cover-compaire-table">
            <div class="table-define-heading d-flex align-items-center mb-5">
                <img src="{%static 'assets/images/icons/pricing-icons/1.svg'%}" alt="icons">
                <h4>Charts</h4>
            </div>
            <div class="table-responsive">
                <div class="d-block d-md-none">
                    <div class="row flex-nowrap align-items-center mb-4 g-0">
                        <div class="col-8 col-md-4">

                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center font-weight-500">Basic</li>
                                <li class="flex-1 text-center font-weight-500">Pro</li>
                                <li class="flex-1 text-center font-weight-500">Pro+</li>
                                <li class="flex-1 text-center font-weight-500">Premium</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="table-content">
                    <div class="row flex-nowrap align-items-center g-0">
                        <div class="col-8 col-md-4">
                            <h6 class="font-weight-600">Lorem Ipsum Dummy Data</h6>
                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center"><i class="material-icons">
                                        done
                                    </i></li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">

                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row flex-nowrap align-items-center g-0">
                        <div class="col-8 col-md-4">
                            <h6 class="font-weight-600">Lorem Ipsum Dummy Data</h6>
                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center"></li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row flex-nowrap align-items-center g-0">
                        <div class="col-8 col-md-4">
                            <h6 class="font-weight-600">Lorem Ipsum Dummy Data</h6>
                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center"><i class="material-icons">
                                        done
                                    </i></li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="cover-compaire-table">
            <div class="table-define-heading d-flex align-items-center mb-5">
                <img src="{%static 'assets/images/icons/pricing-icons/2.svg'%}" alt="icons">
                <h4>Technical analysis aND Fundamental Analysis</h4>
            </div>
            <div class="table-responsive">
                <div class="d-block d-md-none">
                    <div class="row flex-nowrap align-items-center mb-4 g-0">
                        <div class="col-8 col-md-4">

                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center font-weight-500">Basic</li>
                                <li class="flex-1 text-center font-weight-500">Pro</li>
                                <li class="flex-1 text-center font-weight-500">Pro+</li>
                                <li class="flex-1 text-center font-weight-500">Premium</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="table-content">
                    <div class="row flex-nowrap align-items-center g-0">
                        <div class="col-8 col-md-4">
                            <h6 class="font-weight-600">Lorem Ipsum Dummy Data</h6>
                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center"></li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row flex-nowrap align-items-center g-0">
                        <div class="col-8 col-md-4">
                            <h6 class="font-weight-600">Lorem Ipsum Dummy Data</h6>
                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center"><i class="material-icons">
                                        done
                                    </i></li>
                                <li class="flex-1 text-center">

                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row flex-nowrap align-items-center g-0">
                        <div class="col-8 col-md-4">
                            <h6 class="font-weight-600">Lorem Ipsum Dummy Data</h6>
                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center"><i class="material-icons">
                                        done
                                    </i></li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="cover-compaire-table">
            <div class="table-define-heading d-flex align-items-center mb-5">
                <img src="{%static 'assets/images/icons/pricing-icons/3.svg'%}" alt="icons">
                <h4>Expert Traders</h4>
            </div>
            <div class="table-responsive">
                <div class="d-block d-md-none">
                    <div class="row flex-nowrap align-items-center mb-4 g-0">
                        <div class="col-8 col-md-4">

                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center font-weight-500">Basic</li>
                                <li class="flex-1 text-center font-weight-500">Pro</li>
                                <li class="flex-1 text-center font-weight-500">Pro+</li>
                                <li class="flex-1 text-center font-weight-500">Premium</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="table-content">
                    <div class="row flex-nowrap align-items-center g-0">
                        <div class="col-8 col-md-4">
                            <h6 class="font-weight-600">Lorem Ipsum Dummy Data</h6>
                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center"></li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row flex-nowrap align-items-center g-0">
                        <div class="col-8 col-md-4">
                            <h6 class="font-weight-600">Lorem Ipsum Dummy Data</h6>
                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center"><i class="material-icons">
                                        done
                                    </i></li>
                                <li class="flex-1 text-center">

                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row flex-nowrap align-items-center g-0">
                        <div class="col-8 col-md-4">
                            <h6 class="font-weight-600">Lorem Ipsum Dummy Data</h6>
                        </div>
                        <div class="col-md-8">
                            <ul class="d-flex align-items-center flex-nowrap justify-content-between">
                                <li class="flex-1 text-center"><i class="material-icons">
                                        done
                                    </i></li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                                <li class="flex-1 text-center">
                                    <i class="material-icons">
                                        done

                                    </i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--####################################
                      end compare plane section
      ###########################################-->
<!--##################################
        start faq section
  ##############################-->

<section class="chart-bg-img">
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">Chat Bot (FAQ’s)</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>

        </div>
        <div class="according-style-2 mt-3 mt-md-5">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-1" aria-expanded="true" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore cupiditate
                                dolore, totam nobis cumque modi expedita accusamus saepe
                                facilis adipisci non quaerat? Quae aut qui inventore maxime, quas consequuntur rerum
                                molestias aperiam quaerat exercitationem perspiciatis et quis, adipisci repellat
                                veniam nulla! Error blanditiis minima quos laboriosam.
                                Nostrum excepturi molestiae repellat corporis, hic iusto distinctio exercitationem
                                asperiores culpa sed? Sapiente ipsum beatae minus earum hic, nulla nobis. Quo ex
                                dolorum est, odit officiis eos mollitia, consectetur
                                possimus corrupti dolor voluptate nulla blanditiis voluptatum, accusantium
                                aspernatur distinctio laboriosam magnam enim sapiente. Laudantium.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-2" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-2" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore cupiditate
                                dolore, totam nobis cumque modi expedita accusamus saepe
                                facilis adipisci non quaerat? Quae aut qui inventore maxime, quas consequuntur rerum
                                molestias aperiam quaerat exercitationem perspiciatis et quis, adipisci repellat
                                veniam nulla! Error blanditiis minima quos laboriosam.
                                Nostrum excepturi molestiae repellat corporis, hic iusto distinctio exercitationem
                                asperiores culpa sed? Sapiente ipsum beatae minus earum hic, nulla nobis. Quo ex
                                dolorum est, odit officiis eos mollitia, consectetur
                                possimus corrupti dolor voluptate nulla blanditiis voluptatum, accusantium
                                aspernatur distinctio laboriosam magnam enim sapiente. Laudantium.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-3" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-3" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-4" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-4" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-5" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-5" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-6" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-6" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-7" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-7" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#according-st-2-8" aria-expanded="false" aria-controls="collapseOne">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </button>
                    </h2>
                    <div id="according-st-2-8" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis error amet rem.
                                Rem necessitatibus perspiciatis eius, voluptatibus doloribus inventore

                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--##################################
        end fa section
  ##############################-->


{%include 'include/footer.html'%}