{% include 'include/header.html'%}
{%load static%}
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <img src="{%static 'assets/images/refer.svg'%}" alt="refer image">
                <br>
                <br>
                <br>
                <div class="cover-section-title text-center">
                    <div class="d-inline-block">
                        <h2 class="section-title font-weight-600" id="login">Give $10, Get $100 for every friend you
                            refer</h2>
                        <div class="hb-line mx-auto"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan quam leo, at porta urna
                        volutpat et. Integer molestie, purus eget tincidunt consectetur, mi ipsum eleifend tellus, at
                        dictum mi eros non mi.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--####################################
                start how its work section
      ###########################################-->
<section class="primary-bg-clr-01">
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">How It Works</h2>
                <div class="hb-line mx-auto"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan quam leo, at porta urna
                    volutpat et. Integer molestie, purus eget tincidunt consectetur</p>
            </div>

        </div>
        <br>
        <br>
        <br>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="text-center">
                    <div class="cover-refer-icons height-200px p-4 mb-2">
                        <img src="{%static 'assets/images/icons/refer.svg'%}" alt="image here" class="h-100">
                    </div>
                    <h6 class="entry-title">Refer a friend</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="cover-refer-icons  height-200px p-4 mb-2">
                        <img src="{%static 'assets/images/icons/friends-get.svg'%}" alt="image here" class="h-100">
                    </div>
                    <h6 class="entry-title">Your friend gets $10</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="cover-refer-icons  height-200px p-4 mb-2">
                        <img src="{%static 'assets/images/icons/friends-get2.svg'%}" alt="image here" class="h-100">
                    </div>
                    <h6 class="entry-title">You get $10</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--####################################
                      End how its work section
      ###########################################-->

<!--####################################
                      Start pricing content section
      ###########################################-->
<section>
    <div class="container">
        <div class="cover-section-title text-center width-100 width-md-70 mx-auto">
            <div class="d-inline-block">
                <h2 class="section-title font-weight-600">Our Pricing</h2>
                <div class="hb-line width-50 mx-auto"></div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
        <br>
        <br>
        <div class="text-center">
            <div class="tabs-style-3 mt-0">
                <ul class="nav nav-tabs" id="buy/sell" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="Monthly-tab" data-bs-toggle="tab" data-bs-target="#Monthly"
                            type="button" role="tab" aria-controls="Monthly" aria-selected="true">Monthly</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Yearly-tab" data-bs-toggle="tab" data-bs-target="#Yearly"
                            type="button" role="tab" aria-controls="Yearly" aria-selected="false">Yearly</button>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="Monthly" role="tabpanel" aria-labelledby="Monthly-tab">

                <div class="row g-0 align-items-center justify-content-center pricing-card">
                    <div class="col-md-4">
                        <div class="card info-card-v4 text-center">
                            <h3 class="mb-4">PRO</h3>
                            <h1 class="primary-text font-weight-600 mb-4">$30.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-card-v4 text-center pro-pricing">
                            <h3 class="mb-4">PRO</h3>
                            <h1 class="font-weight-600 mb-4">$30.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card info-card-v4 text-center">
                            <h3 class="mb-4">PREMIUM</h3>
                            <h1 class="primary-text font-weight-600 mb-4">$30.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Yearly" role="tabpanel" aria-labelledby="Yearly-tab">

                <div class="row g-0 justify-content-center align-items-center pricing-card">
                    <div class="col-md-4">
                        <div class="card info-card-v4 text-center">
                            <h3 class="mb-4">PRO</h3>
                            <h1 class="primary-text font-weight-600 mb-4">$100.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-card-v4 text-center pro-pricing">
                            <h3 class="mb-4">PRO</h3>
                            <h1 class="font-weight-600 mb-4">$200.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card info-card-v4 text-center">
                            <h3 class="mb-4">PREMIUM</h3>
                            <h1 class="primary-text font-weight-600 mb-4">$500.00 </h1>
                            <h5>Per Month</h5>
                            <ul class="pricing-list">
                                <li>Leasons from $20 Per Hour </li>
                                <li>30 days trail Features</li>
                                <li>Synced to cloud database</li>
                                <li>10 hours of support</li>
                                <li>Social media integration</li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)" class="primary-btn border-radius-50px extra-btn-padding-35">Get
                                        Started</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--####################################
                      end pricing content section
      ###########################################-->

      {% include 'include/footer.html' %} 