{%include 'indexinclude/sidebar.html'%}
{% include 'indexinclude/topnav.html'%}
{%load static%}
<div class="cover-all-content">
    <div class="page-title d-flex align-items-center justify-content-between flex-wrap">
        <h2>Fundamental Analytics </h2>
      
    </div>
    <div class="cover-inner-content">
        <div class="card">
            <div class="card-body">
                <h4 class="font-weight-600">What you’ll learn from this course</h4>
                <h5 class="font-weight-500 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.!</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non cursus purus. Aenean rutrum mi
                    felis, at suscipit nisi pharetra sit amet. Pellentesque consequat nisi eget ex ullamcorper commodo.
                    Nulla sagittis risus ac ex pharetra posuere. In vel maximus nisi, quis ullamcorper purus. Donec
                    tempor nisi turpis.</p>
                <ul>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, maiores.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, maiores.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, maiores.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, maiores.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, maiores.</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non cursus purus. Aenean rutrum mi
                    felis, at suscipit nisi pharetra sit amet. Pellentesque consequat nisi eget ex ullamcorper commodo.
                    Nulla sagittis risus ac ex pharetra posuere. In vel maximus nisi, quis ullamcorper purus. Donec
                    tempor nisi turpis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis illo tempore inventore natus
                    distinctio omnis maxime dolorem vel similique a!</p>
            </div>
        </div>
        <br>
        <br>
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h4 class="m-0">Recommended Courses</h4>

        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#.">Stock Knowledge</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#.">Stock Knowledge</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static  'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#.">Stock Knowledge</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#.">Stock Knowledge</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {%include 'indexinclude/footer.html'%}