{%include 'indexinclude/sidebar.html'%}
{% include 'indexinclude/topnav.html'%}
{%load static%}

<div class="cover-all-content">
    <div class="page-title d-flex align-items-center justify-content-between flex-wrap">
        <h2>Expert Trade</h2>
        
    </div>
    <div class="cover-inner-content">
    <div class="row g-3">
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="cover-teacher-card">
                    <div class="cover-img">
                        <img src="{%static 'assetss/images/teacher/1.png'%}" alt="">
                    </div>
                    <h4>Joseph J Silva</h4>
                    <p class="text-muted">Business, Physics</p>
                    <ul class="star-rating-clr d-flex align-items-center justify-content-center gap-1 my-2">
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons disabled-star">
                                star
                            </i></li>
                        <li class="ms-2">4.3</li>
                    </ul>
                    <ul>
                        <li><a href="{%url 'trader-details'%}" class="light-gray-btn border-radius-50px font-weight-500"><i
                                    class="bi bi-eye"></i> View Profile</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="cover-teacher-card">
                    <div class="cover-img">
                        <img src="{%static 'assetss/images/teacher/1.png'%}" alt="">
                    </div>
                    <h4>Joseph J Silva</h4>
                    <p class="text-muted">Business, Physics</p>
                    <ul class="star-rating-clr d-flex align-items-center justify-content-center gap-1 my-2">
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons disabled-star">
                                star
                            </i></li>
                        <li class="ms-2">4.3</li>
                    </ul>
                    <ul>
                        <li><a href="{%url 'trader-details'%}" class="light-gray-btn border-radius-50px font-weight-500"><i
                                    class="bi bi-eye"></i> View Profile</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="cover-teacher-card">
                    <div class="cover-img">
                        <img src="{%static 'assetss/images/teacher/1.png'%}" alt="">
                    </div>
                    <h4>Joseph J Silva</h4>
                    <p class="text-muted">Business, Physics</p>
                    <ul class="star-rating-clr d-flex align-items-center justify-content-center gap-1 my-2">
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons disabled-star">
                                star
                            </i></li>
                        <li class="ms-2">4.3</li>
                    </ul>
                    <ul>
                        <li><a href="{%url 'trader-details'%}" class="light-gray-btn border-radius-50px font-weight-500"><i
                                    class="bi bi-eye"></i> View Profile</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="cover-teacher-card">
                    <div class="cover-img">
                        <img src="{%static 'assetss/images/teacher/1.png'%}" alt="">
                    </div>
                    <h4>Joseph J Silva</h4>
                    <p class="text-muted">Business, Physics</p>
                    <ul class="star-rating-clr d-flex align-items-center justify-content-center gap-1 my-2">
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons disabled-star">
                                star
                            </i></li>
                        <li class="ms-2">4.3</li>
                    </ul>
                    <ul>
                        <li><a href="{%url 'trader-details'%}" class="light-gray-btn border-radius-50px font-weight-500"><i
                                    class="bi bi-eye"></i> View Profile</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="cover-teacher-card">
                    <div class="cover-img">
                        <img src="{%static 'assetss/images/teacher/1.png'%}" alt="">
                    </div>
                    <h4>Joseph J Silva</h4>
                    <p class="text-muted">Business, Physics</p>
                    <ul class="star-rating-clr d-flex align-items-center justify-content-center gap-1 my-2">
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons">
                                star
                            </i></li>
                        <li><i class="material-icons disabled-star">
                                star
                            </i></li>
                        <li class="ms-2">4.3</li>
                    </ul>
                    <ul>
                        <li><a href="{%url 'trader-details'%}" class="light-gray-btn border-radius-50px font-weight-500"><i
                                    class="bi bi-eye"></i> View Profile</a></li>
                    </ul>
                </div>
            </div>
           
        </div>
    </div>
    {%include 'indexinclude/footer.html'%}