{%include 'indexinclude/sidebar.html'%}
{% include 'indexinclude/topnav.html'%}
{%load static%}

<div class="cover-all-content">
    <div class="page-title d-flex align-items-center justify-content-between flex-wrap">
        <h2>Explore Courses </h2>
        <div class="form-group left-search-icon">
            <input type="search" class="form-control" placeholder="Search..." id="search">
            <i class="material-icons">
                search
            </i>
        </div>
    </div>
    <div class="cover-inner-content">
        <div class="row all-search-content g-3">
            <div class="col-md-4 col-lg-4 col-xl-3 show-search-content">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="{%url 'course-details'%}">Fundamental Analyst</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 show-search-content">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="{%url 'course-details'%}">Stock Knowledge</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 show-search-content">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#.">Technical Analyst</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 show-search-content">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#.">Candles Visualaization</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 show-search-content">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#.">Candles Visualaization</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 show-search-content">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#.">Candles Visualaization</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 show-search-content">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#.">Candles Visualaization</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 show-search-content">
                <div class="cover-card-products">
                    <div class="cover-img position-relative">
                        <img src="{%static 'assetss/images/blog/1.jpg'%}" alt="image" draggable="false">
                        <div class="whislist-overlay-icon">
                            <ul>
                                <li><a href="#"><i class="material-icons">
                                            favorite_border
                                        </i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#.">Candles Visualaization</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Category</small>
                            <p class="m-0">Common Stocks</p>
                        </div>
                        <div>
                            <small>Duration</small>
                            <p>174 hr</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

    {%include 'indexinclude/footer.html'%}

    <script>
        // web search

        $('#search').keyup(function() {
            filter(this);
        });

        function filter(customerelements) {
            var value = $(customerelements).val().toLowerCase();
            $(".all-search-content .show-search-content").each(function() {
                if ($(this).text().toLowerCase().indexOf(value) > -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
            $(".all-search-content").show();
        };

    </script>