{%include 'indexinclude/sidebar.html'%}
{% include 'indexinclude/topnav.html'%}
{%load static%}
<div class="cover-all-content">
    <div class="page-title d-flex align-items-center justify-content-between flex-wrap">
        <h2>Candle Visualization</h2>
        <ul>
            <li><a href="#" class="white-btn" onclick="goBack();"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                        height="12" viewBox="0 0 18 12">
                        <path
                            d="M6.49984 11.8327L7.67484 10.6577L3.85817 6.83268H17.3332V5.16602H3.85817L7.68317 1.34102L6.49984 0.166016L0.666504 5.99935L6.49984 11.8327Z">
                        </path>
                    </svg> Go Back</a></li>
        </ul>
    </div>
    <div class="cover-inner-content">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="cover-video-banner border-radius-10px">
                            <ul>
                                <li><a href="https://youtu.be/Iqrl5h24dao" class="video-play-button"
                                        data-fancybox="gallery"><i class="bi bi-play-fill"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="cover-lectures">
                            <div class="card">
                                <div class="card-header border-0 d-flex align-items-center justify-content-between">
                                    <h5>Total 10 Lectures</h5>
                                    <a href="#." data-bs-toggle="modal" data-bs-target="#Congratulations"
                                        class="primary-anchor font-13px">After completed courses</a>
                                </div>
                                <ul class="list-group list-group-flush list-group-numbered">
                                    <li><a href="#"
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between active-lecture">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="material-icons">
                                                    play_circle_outline
                                                </i>
                                                <p>Introduction</p>
                                            </div>
                                            <p>2:00 min</p>
                                        </a></li>
                                    <li><a href="#"
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="material-icons">
                                                    play_circle_outline
                                                </i>
                                                Fundamental Analysis
                                            </div>
                                            <p>2:00 min</p>
                                        </a></li>
                                    <li><a href="#"
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="material-icons">
                                                    play_circle_outline
                                                </i>
                                                Technical Analysis
                                            </div>
                                            <p>2:00 min</p>
                                        </a></li>
                                    <li><a href="#"
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="material-icons">
                                                    play_circle_outline
                                                </i>
                                                Candles Visualaization
                                            </div>
                                            <p>2:00 min</p>
                                        </a></li>
                                    <li><a href="#"
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="material-icons">
                                                    play_circle_outline
                                                </i>
                                                Technical Analysis
                                            </div>
                                            <p>2:00 min</p>
                                        </a></li>
                                    <li><a href="#"
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="material-icons">
                                                    play_circle_outline
                                                </i>
                                                Candles Visualaization
                                            </div>
                                            <p>2:00 min</p>
                                        </a></li>
                                    <li><a href="#"
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="material-icons">
                                                    play_circle_outline
                                                </i>
                                                Introduction
                                            </div>
                                            <p>2:00 min</p>
                                        </a></li>
                                    <li><a href="#"
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="material-icons">
                                                    play_circle_outline
                                                </i>
                                                Introduction
                                            </div>
                                            <p>2:00 min</p>
                                        </a></li>
                                    <li><a href="#"
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="material-icons">
                                                    play_circle_outline
                                                </i>
                                                Introduction
                                            </div>
                                            <p>2:00 min</p>
                                        </a></li>
                                    <li><a href="#"
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="material-icons">
                                                    play_circle_outline
                                                </i>
                                                Introduction
                                            </div>
                                            <p>2:00 min</p>
                                        </a></li>



                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="learning-detail-content">
                    <h3>Description:</h3>
                    <h5 class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.!</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non cursus purus. Aenean rutrum mi
                        felis, at suscipit nisi pharetra sit amet. Pellentesque consequat nisi eget ex ullamcorper
                        commodo. Nulla sagittis risus ac ex pharetra posuere. In vel maximus nisi, quis ullamcorper
                        purus. Donec tempor nisi turpis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non cursus purus. Aenean rutrum mi
                        felis, at suscipit nisi pharetra sit amet. Pellentesque consequat nisi eget ex ullamcorper
                        commodo. Nulla sagittis risus ac ex pharetra posuere. In vel maximus nisi, quis ullamcorper
                        purus. Donec tempor nisi turpis.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="Congratulations" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-3 p-md-5">
                    <div class="after-compelete-course-modal text-center">
                        <img src="{%static 'assetss/images/Congratulations.svg'%}" alt="" class="w-auto mb-3">
                        <h3>Congratulations!</h3>
                        <p>You have completed your course
                            successfuly</p>
                        <h5 class="mt-4">Rate Your Teacher</h5>
                        <div class="cover-rating">
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5"><label class="full star5"
                                    for="star5" title="Awesome - 5 stars" data-star="5"></label>

                                <input type="radio" id="star4" name="rating" value="4"><label class="full star4"
                                    for="star4" title="Pretty good - 4 stars" data-star="4"></label>

                                <input type="radio" id="star3" name="rating" value="3"><label class="full star3"
                                    for="star3" title="Meh - 3 stars" data-star="3"></label>

                                <input type="radio" id="star2" name="rating" value="2"><label class="full star2"
                                    for="star2" title="Kinda bad - 2 stars" data-star="2"></label>

                                <input type="radio" id="star1" name="rating" value="1"><label class="full star1"
                                    for="star1" title="Sucks big time - 1 star" data-star="1"></label>

                            </fieldset>
                        </div>
                        <ul>
                            <li><a href="#" class="primary-btn extra-btn-padding-30">Submit</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {%include 'indexinclude/footer.html'%}