{%include 'indexinclude/sidebar.html'%}
{%include 'indexinclude/topnav.html'%}
{%load static%}
<div class="cover-all-content">
    <div class="page-title d-flex align-items-center justify-content-between flex-wrap">
        <h2>Profile & Setting</h2>
    </div>
    <div class="cover-inner-content">
        <div class="card">
            <div class="tabs-style-1">
                <!-- Nav tabs -->
                <div class="tabs-links">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tabv1-1-tab" data-bs-toggle="tab"
                                data-bs-target="#tabv1-1" type="button" role="tab" aria-controls="tabv1-1"
                                aria-selected="true">Personal Info</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tabv1-2-tab" data-bs-toggle="tab" data-bs-target="#tabv1-2"
                                type="button" role="tab" aria-controls="tabv1-2" aria-selected="false">Account
                                Security</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tabv1-3-tab" data-bs-toggle="tab" data-bs-target="#tabv1-3"
                                type="button" role="tab" aria-controls="tabv1-3" aria-selected="false">Payment
                                Method</button>
                        </li>
                    </ul>
                </div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="tabv1-1" role="tabpanel" aria-labelledby="tabv1-1-tab">
                        <div class="cover-form">
                            <div class="cover-user-image mb-5 mt-4">
                                <div class="user-img">
                                    <img src="" id="useruploaderimg">
                                </div>
                                <ul>
                                    <li>
                                        <form action="#">
                                            <div class="form-group">
                                                <label for="userimage" class="primary-anchor">
                                                    <input type="file" id="userimage" style="display: none;">
                                                    Change Picture
                                                </label>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>

                            <form action="#">
                                <h4 class="font-weight-500 mb-0">Edit Profile
                                </h4>
                                <div class="hb-line"></div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">


                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input type="text" class="form-control" placeholder="James Alex">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mobile No </label>
                                            <input type="tel" class="form-control" placeholder="+1 2323223223">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <input type="email" class="form-control" placeholder="James90@gmail.com">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4 class="font-weight-500 mb-0">Expertise
                                </h4>
                                <div class="hb-line"></div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label>Title</label>
                                            <input type="text" class="form-control"
                                                placeholder="Expert in Candle Visualization ">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>

                                </div>


                                <div class="text-center mt-4 d-inline-block w-100">
                                    <button type="submit" class="primary-btn extra-btn-padding-30">Update
                                        Profile</button>
                                </div>
                            </form>
                        </div>
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="tab-pane" id="tabv1-2" role="tabpanel" aria-labelledby="tabv1-2-tab">
                        <div class="cover-form">
                            <h4 class="font-weight-500 mb-0">Passsword Settings
                            </h4>
                            <div class="hb-line"></div>
                            <br>
                            <form action="#">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input type="text" class="form-control" placeholder="Enter Old Password">
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" placeholder="Enter New Password">
                                </div>
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input type="password" class="form-control" placeholder="Re-enter New Password">
                                </div>
                                <div class="text-center mt-4 d-inline-block w-100">
                                    <button type="submit" class="primary-btn extra-btn-padding-30">Update
                                        Password</button>
                                </div>
                            </form>
                        </div>
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="tab-pane" id="tabv1-3" role="tabpanel" aria-labelledby="tabv1-3-tab">
                        <div
                            class="d-flex align-items-center justify-content-between p-3 border border-radius-5px mb-3">
                            <img src="{%static 'assetss/images/paypal.svg'%}" alt="" class="w-auto">
                            <div class="d-flex align-items-center gap-3">
                                <p class="m-0">Not Connected</p>
                                <ul>
                                    <li><a href="#" class="primary-outline-btn extra-btn-padding-25">CONNECT</a></li>
                                </ul>
                            </div>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-between p-3 border border-radius-5px mb-3">
                            <img src="{%static 'assetss/images/stripe.png'%}" alt="" class="w-auto">
                            <div class="d-flex align-items-center gap-3">

                                <ul>
                                    <li><a href="#" class="primary-btn extra-btn-padding-25">CONNECTED</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center">
                            <ul>
                                <li><a href="#" class="primary-btn">Save & Continue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {%include  'indexinclude/footer.html' %}

    <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#useruploaderimg').attr('src', e.target.result);
                $('#useruploaderimg').css('display', 'block');
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#userimage").change(function() {
        readURL(this);
    });
    </script>