{%include 'indexinclude/sidebar.html'%}
{% include 'indexinclude/topnav.html'%}
{%load static%}

<div class="cover-all-content">
    <div class="page-title d-flex align-items-center justify-content-between flex-wrap">
        <h2>Teacher Detail</h2>

    </div>
    <div class="cover-inner-content">
        <div class="card">
            <div class="profile-banner"></div>
            <div class="card-body teacher-profile-content">
                <div class="d-flex teacher-profile align-items-center gap-3">
                    <img src="{%static 'assetss/images/teacher/4.png'%}" alt="">
                    <div>
                        <h3>Micheal Hardy</h3>
                        <h5>Technical Analysist</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <h5>Introduction:</h5>
                        <p>Lorem ipsum lorem ipsum to lorem ipsumLorem ipsum lorem ipsum to lorem ipsum Lorem ipsum
                            lorem ipsum to lorem ipsum Lorem ipsum lorem ipsum to lorem ipsum Lorem ipsum lorem ipsum to
                            lorem ipsumLorem ipsum lorem ipsum to lorem ipsum Lorem ipsum lorem ipsum to lorem ipsum
                            Lorem ipsum lorem ipsum to lorem ipsum </p>
                    </div>
                    <div class="col-md-4">
                        <div class="profile-contact-info">
                            <ul class="text-center">
                                <li><a href="#"><i class="fa fa-envelope"></i> russell.dianne123@gmail.com</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i> +1 968 412 2206</a></li>
                                <li>
                                    <ul class="d-flex justify-content-center align-items-center gap-2">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <h3 class="entry-title">Reviews <span class="font-15px font-weight-500 star-rating-clr"><i class="fa fa-star"></i> 4.3 (131)</span>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="comment-box">
                            <img src="{%static 'assetss/images/admin.jpg'%}" alt="">

                            <div>
                            <h6>Kate William</h6>
                                <ul class="d-flex align-items-center gap-1">

                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li>3.8</li>
                                </ul>
                               
                                <p>lorem ipsum lorem ipsum elsavio thio elvatolorem ipsum lorem ipsum elsavio thio
                                    elvato lorem
                                    ipsum lorem ipsum elsavio thio elvatolorem ipsum lorem ipsum elsavio thio elvato
                                    lorem ipsum
                                    lorem ipsum elsavio.</p>
                                    <small class="text-muted text-end font-13px d-block">Posted 2 hours ago</small>
                            </div>
                        </div>
                        <div class="comment-box">
                            <img src="{%static 'assetss/images/admin.jpg'%}" alt="">

                            <div>
                            <h6>Kate William</h6>
                                <ul class="d-flex align-items-center gap-1">

                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li>3.8</li>
                                </ul>
                               
                                <p>lorem ipsum lorem ipsum elsavio thio elvatolorem ipsum lorem ipsum elsavio thio
                                    elvato lorem
                                    ipsum lorem ipsum elsavio thio elvatolorem ipsum lorem ipsum elsavio thio elvato
                                    lorem ipsum
                                    lorem ipsum elsavio.</p>
                                    <small class="text-muted text-end font-13px d-block">Posted 2 hours ago</small>
                            </div>
                        </div>
                        <div class="comment-box">
                            <img src="{%static 'assetss/images/admin.jpg'%}" alt="">

                            <div>
                            <h6>Kate William</h6>
                                <ul class="d-flex align-items-center gap-1">

                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="JavaScript:void(0)"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li>3.8</li>
                                </ul>
                               
                                <p>lorem ipsum lorem ipsum elsavio thio elvatolorem ipsum lorem ipsum elsavio thio
                                    elvato lorem
                                    ipsum lorem ipsum elsavio thio elvatolorem ipsum lorem ipsum elsavio thio elvato
                                    lorem ipsum
                                    lorem ipsum elsavio.</p>
                                    <small class="text-muted text-end font-13px d-block">Posted 2 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%include 'indexinclude/footer.html'%}