{%load static %}
<div id="layoutSidenav_content">
    <main>
        <nav class="sb-topnav navbar navbar-expand bg-white justify-content-between ps-4">
            <a class="order-1 order-lg-0 me-4 me-lg-0 text-dark bg-transparent" id="sidebarToggle" href="#!"><i
                    class="material-icons">
                    subject
                </i></a>
            <div class="logo-sm d-block d-md-none">
                <img src="{%static 'assetss/images/logo.png'%}" alt="">
            </div>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 align-items-center">
                <li class="nav-item dropdown bell position-relative">
                    <div class="item-count">
                        <p>02</p>
                    </div>
                    <a href="#" class="nav-link dropdown-toggle caret-none" data-bs-toggle="dropdown" role="button"
                        id="navbarDropdown" aria-expanded="false"><i class="material-icons">
                            notifications_none
                        </i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <div>Notifications <a href="#." class="secondary-anchor">Mark all as read</a></div>
                        <div class="cover-notifications">
                            <li><a href="#" class="dropdown-item active">
                                    <div class="inner-notification ">
                                        <h6>New order</h6>
                                        <p>New order #1212 recieved from Fatima</p>
                                        <p>3 mins ago</p>
                                    </div>
                                </a></li>
                            <li><a href="#" class="dropdown-item active">
                                    <div class="inner-notification ">
                                        <h6>Feedback Received</h6>
                                        <p>Fatima Left Feedback for order #3121</p>
                                        <p>12 mins ago</p>
                                    </div>
                                </a></li>
                            <li><a href="#" class="dropdown-item">
                                    <div class="inner-notification ">
                                        <h6>Stock Running Out</h6>
                                        <p>Low Stock Limit Reached of Product
                                            Keenwell Gell 80 ml</p>
                                        <p>12 mins ago</p>
                                    </div>
                                </a>
                            </li>
                            <li><a href="#" class="dropdown-item">
                                    <div class="inner-notification ">
                                        <h6>Stock Running Out</h6>
                                        <p>Low Stock Limit Reached of Product
                                            Keenwell Gell 80 ml</p>
                                        <p>12 mins ago</p>
                                    </div>
                                </a>
                            </li>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown profile">
                    <a class="nav-link dropdown-toggle caret-none" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"> <img src="{%static 'assetss/images/avatar.svg'%}" alt=""></a>
                    <ul class="dropdown-menu dropdown-menu-end border-0" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="profile.php">
                                <div class="cover-profile-dropdown d-flex align-items-center gap-2">
                                    <img src="{%static 'assetss/images/avatar.svg'%}" alt="student-img">
                                    <div>
                                        {%if user.is_authenticated%}
                                        <h6>{{user.first_name}}</h6>
                                        <p>{{user.user_type}}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{%url 'profile-setting'%}">
                                <div class="cover-profile-dropdown d-flex align-items-center gap-2">
                                    <img src="{%static 'assetss/images/icons/edit.svg'%}" alt="">
                                    <p>Edit Profile</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{%url 'logout'%}">
                                <div class="cover-profile-dropdown d-flex align-items-center gap-2">
                                    <img src="{%static 'assetss/images/icons/logout.svg'%}" alt="">
                                    <p>logout</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>